.container {
    display: flex;
    padding: 10px;
    background-color: rgb(147 0 255 / 53%);
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}
.ico {

    /*margin-right: 10px;*/
    font-size: 90px;
    width: 90px;
    height: 90px;
}

a {
    text-decoration: none;
    color: inherit;
}
.white{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: max-content;
    height: max-content;
    transition: all 0.7s ease;
}
.white:hover {
    cursor: pointer;
    scale: 1.07;
}
@media (max-width: 484px) {
    .ico {
        font-size: clamp(30px, 10vw, 90px);
        width: clamp(30px, 10vw, 90px);
        height: clamp(30px, 10vw, 90px);
    }
}