.pr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(147 0 255 / 53%);
    border-radius: 10px;
    transition: scale 0.7s ease;

}

.pr:hover {
    cursor: pointer;
    scale: 1.02;
}

.header {
    color: #ffffff;
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(20px, 3vw, 35px);
    padding-bottom: 10px;
}

.img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.prName {
    color: #ffffff;
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: clamp(20px, 2.5vw, 35px);
    text-decoration: none;

}

a {
    text-decoration: none;
}
@media (max-width: 341px) {
    .img {
        width: clamp(50px, 2vw, 100px);
        height: clamp(50px, 2vw, 100px);
    }
}